In [2]:
import pandas as pd
import datetime
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [4]:
file_path_list=[
'01_January_2015.csv',
'02_February_2015.csv',
'03_March_2015.csv',
'04_April_2015.csv',
'05_May_2015.csv',
'06_June_2015.csv',
'07_July_2015.csv',
'08_August_2015.csv',
'09_September_2015.csv',
'10_October_2015.csv',
'11_November_2015.csv']

file_path_list

['01_January_2015.csv',
 '02_February_2015.csv',
 '03_March_2015.csv',
 '04_April_2015.csv',
 '05_May_2015.csv',
 '06_June_2015.csv',
 '07_July_2015.csv',
 '08_August_2015.csv',
 '09_September_2015.csv',
 '10_October_2015.csv',
 '11_November_2015.csv']

In [15]:
months=range(1,13)

In [63]:
calendar_days=[]

m=1
year=2015
        
if m <10:
    [calendar_days.append(f'Weatherlog {year}{m}{i}') 
    if i < 10 
    else calendar_days.append(f'Weatherlog {year}{m}{i}') 
    for i in range(1,32)]
else:
    [calendar_days.append(f'Weatherlog {year}{m}{i}') 
    if i < 10 
    else calendar_days.append(f'Weatherlog {year}{m}{i}') 
    for i in range(1,32)]
     
    
    
# The first two tables in the csv files are "Foods" and 'Activities'.
# Add these names to the calendar_days list to create a list of the table_names
table_names=["Attempts", "climbing routes"]+calendar_days
    
#Read in csv file, from looking at the raw file we see that the biggest table is 10 columns
df=pd.read_csv('01_January_2015.csv', header=None, names=range(6))
    
# group the data frame by their table names
groups = df[0].isin(table_names).cumsum()
    
#create the tables with the key as the table_name and values are the rows below the name
tables = {v.iloc[0,0]: v.iloc[1:] for k,v in df.groupby(groups)}
print('01_January_2015.csv')
    
    
    # return a dictionary of dataframes that contain the tables from the csv file

01_January_2015.csv

In [64]:
df=pd.read_csv('01_January_2015.csv', header=None, names=range(6))

In [72]:
df.groupby(df[0].isin(table_names).cumsum())

In [85]:
df.groupby(groups)

In [35]:
tables.keys()

dict_keys(['Attempts', 'climbing routes', 'Weatherlog 2015131', 'Weatherlog 2015130', 'Weatherlog 2015129', 'Weatherlog 2015128', 'Weatherlog 2015127', 'Weatherlog 2015126', 'Weatherlog 2015125', 'Weatherlog 2015124', 'Weatherlog 2015123', 'Weatherlog 2015122', 'Weatherlog 2015121', 'Weatherlog 2015120', 'Weatherlog 2015119', 'Weatherlog 2015118', 'Weatherlog 2015117', 'Weatherlog 2015116', 'Weatherlog 2015115', 'Weatherlog 2015114', 'Weatherlog 2015113', 'Weatherlog 2015112', 'Weatherlog 2015111', 'Weatherlog 2015110', 'Weatherlog 201519', 'Weatherlog 201518', 'Weatherlog 201517', 'Weatherlog 201516', 'Weatherlog 201515', 'Weatherlog 201514', 'Weatherlog 201513', 'Weatherlog 201512', 'Weatherlog 201511'])

In [25]:
tables['Weatherlog 2015131']

,0,1,2,3,4,5
25,Route,Attempted,Succeeded,Success Percentage,NaN,NaN
26,Gibralter Ledges,3,0,0.0,NaN,NaN
27,Totals,NaN,NaN,NaN,NaN,NaN
28,NaN,Battery Voltage AVG,13.56541667,NaN,NaN,NaN
29,NaN,Temperature AVG,28.02,NaN,NaN,NaN
30,NaN,Relative Humidity AVG,27.65333333,NaN,NaN,NaN
31,NaN,Wind Speed Daily AVG,10.29258333,NaN,NaN,NaN
32,NaN,Wind Direction AVG,212.0725417,NaN,NaN,NaN
33,NaN,Solare Radiation AVG,0.0,NaN,NaN,NaN